:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --mediumgrey: hsl(216, 12%, 54%);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
}

@function rem($px) {
  $rem: 16;
  @return ($px / $rem) + rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Outfit', sans-serif;
}

p {
  font-size: rem(15);
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: rem(350);
  height: rem(350);
  background: linear-gradient(
    to bottom right,
    hsl(213, 19%, 18%),
    hsl(216, 12%, 8%) 70%
  );
  border-radius: rem(20);
  padding: rem(30);
}

.rating-tab {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &__text {
    margin-top: rem(10);
    color: var(--mediumgrey);
    margin-bottom: rem(15);
  }
}

.rating-tab__star {
  margin-bottom: rem(15);
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(48);
  height: rem(48);
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;

  &__icon {
    width: rem(18);
    height: rem(18);
  }
}

.heading {
  color: #fff;
  font-size: rem(20);
}

.rating-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__rate {
    margin-bottom: rem(15);
  }

  &__submit {
    transition: .2s;
    color: #fff;
    background-color: var(--orange);
    border: none;
    padding: rem(10);
    border-radius: rem(12);
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      transition: .2s;
      color: var(--orange);
      background-color: #fff;
    }

    &:active {
      background-color: #fff;
      color: var(--orange);
    }
  }
}

.rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;

  &__button {
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(48);
    color: var(--mediumgrey);
    height: rem(48);
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:hover {
      transition: .2s;
      background-color: var(--lightgrey);
      color: #fff;
    }

    &:active {
      background-color: var(--orange);
      color: #fff;
    }
  }
}

.response-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &__text {
    color: var(--mediumgrey);
    font-size: rem(15);
  }
}

.thankyou-heading {
  color: #fff;
}

.rating-choice {
  background-color: var(--darkblue);

  &__message {
    color: var(--orange);
  }
}

