:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --mediumgrey: hsl(216, 12%, 54%);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 0.9375rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 21.875rem;
  height: 21.875rem;
  background: linear-gradient(to bottom right, hsl(213, 19%, 18%), hsl(216, 12%, 8%) 70%);
  border-radius: 1.25rem;
  padding: 1.875rem;
}

.rating-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.rating-tab__text {
  margin-top: 0.625rem;
  color: var(--mediumgrey);
  margin-bottom: 0.9375rem;
}

.rating-tab__star {
  margin-bottom: 0.9375rem;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
}
.star__icon {
  width: 1.125rem;
  height: 1.125rem;
}

.heading {
  color: #fff;
  font-size: 1.25rem;
}

.rating-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rating-form__rate {
  margin-bottom: 0.9375rem;
}
.rating-form__submit {
  transition: 0.2s;
  color: #fff;
  background-color: var(--orange);
  border: none;
  padding: 0.625rem;
  border-radius: 0.75rem;
  cursor: pointer;
  text-transform: uppercase;
}
.rating-form__submit:hover {
  transition: 0.2s;
  color: var(--orange);
  background-color: #fff;
}
.rating-form__submit:active {
  background-color: #fff;
  color: var(--orange);
}

.rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.rate__button {
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  color: var(--mediumgrey);
  height: 3rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.rate__button:hover {
  transition: 0.2s;
  background-color: var(--lightgrey);
  color: #fff;
}
.rate__button:active {
  background-color: var(--orange);
  color: #fff;
}
.rate__button_checked {
  background-color: var(--orange);
  color: #fff;
}

.response-tab {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.response-tab__text {
  color: var(--mediumgrey);
  font-size: 0.9375rem;
  margin-top: 0.9375rem;
  text-align: center;
}
.response-tab__image {
  width: 9.375rem;
  height: 6.25rem;
  margin-bottom: 0.9375rem;
}
.response-tab__image img {
  width: 100%;
  height: 100%;
}
.response-tab__rating-choice {
  margin-bottom: 1.5625rem;
}

.thankyou-heading {
  font-size: 1.25rem;
  color: #fff;
}

.rating-choice {
  background-color: var(--darkblue);
  padding: 0.3125rem;
  border-radius: 0.4375rem;
}
.rating-choice__message {
  color: var(--orange);
}